gunicorn==25.1.0
gevent==24.11.1
gevent-websocket==0.10.1
flask==3.1.2
flask_socketio==5.6.0
ytmusicapi==1.11.5
yt_dlp[default]==2026.2.21
spotipy==2.25.2
spotipy_anon==1.5.7
thefuzz==0.22.1
