body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 70% !important;
}

#logo {
    max-width: 40px;
    max-height: 40px;
}

#table-box {
    max-height: 55vh;
    overflow-y: auto;
}

.left-pill {
    margin-right: -5px;
}

#download-spinner {
    margin-left: 10px;
}

#toast-container {
    position: absolute;
    top: 40px;
    right: 30px;
    z-index: 9999;
}

.toastItem {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
    opacity: 0;
    animation: fadeInOut 3s forwards;
}

.toastItem.success {
    background-color: #4CAF50; /* Green */
}

.toastItem.error {
    background-color: #f44336; /* Red */
}

/* Fade in and fade out animation */
@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    10% {
        opacity: 1;
        transform: translateY(0);
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(10px);
    }
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #007bffa4;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #007bff;
}

::-webkit-scrollbar-corner {
    background: #f1f1f1;
}

@media screen and (max-width: 600px) {
    h1 {
        margin-bottom: 0.1rem !important;
    }

    .container {
        max-width: 99% !important;
    }

    #table-box {
        max-height: 65vh;
    }

}